body {
  background: #eee;
  font-family: sans-serif;
}
/* My Changes */
/* .card {
  width: 400px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;

}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

.content {
  background: #e3f4ff;
    margin: 10px;
    padding: 15px 8px;
    font-size: 15px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */


/* Correct Solution */
.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}